/* GLOBAL */
body,
a,
a:hover {
  background-color: rgb(25, 20, 20);
  color: rgb(30,215,96);
  font-family: "Helvetica", "Arial", sans-serif;
}

.btn-default {
  background-color: rgb(30,215,96);
  color: rgb(25, 20, 20);
  box-shadow: -4px 4px 0 rgb(2, 72, 5);
}

.btn-default:active {
  position: relative;
  right: 2px;
  top: 2px;
}

.alert {
  text-align: center;
}

/* TITLE */

#title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.app-name {
  font-size: 5em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 0.4em;
}

.subtitle {
  font-size: 2em;
  margin-bottom: 0.8em;
}

.btn-login {
  font-size: 2em;
}


.disclaimer {
  margin-top: 2em;
}

/* FORM */

.search-bar {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-inline {
  display: inline;
}

.form-group > label,
.form-group > input {
  margin-right: 1em;
  font-size: 1.4em;
}

.logout-btn {
  display: inline;
  position: absolute;
  right: 20px;
  top: 21px;
}

/* TABLE */
.table .table-header {
  font-size: 1.4em;
}

.table .table-data {
  vertical-align: middle;
  font-size: 1.2em;
}
